<h1>Add a new stylist</h1>

<form action="/stylists/new" method="post">
  <div class="form-group">
    <label for="name">Stylist</label>
    <input id="name" name="name" type="text" class="form-control">
  </div>

  <button type="submit" class="btn btn-success">Add stylist</button>
</form>
